---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";


export const getStaticPaths = (() => {
  
  return [
    { params: { name: "bulbasaur" }, props: {name: "bulbasaur", url: "https://pokeapi.co/api/v2/pokemon/1/"} },
    { params: { name: "ivysaur"}, props: {name: "bulbasaur", url: "https://pokeapi.co/api/v2/pokemon/4/"}  },
    { params: { name: "venusaur" } },
    { params: { name: "charmander" } },
    { params: { name: "charmeleon" } },
    { params: { name: "charizard" } },
    { params: { name: "squirtle" } },
    { params: { name: "wartortle" } },
    { params: { name: "blastoise" } },
    { params: { name: "caterpie" } },
    { params: { name: "metapod" } },
    { params: { name: "butterfree" } },
    { params: { name: "weedle" } },
    { params: { name: "kakuna" } },
    { params: { name: "beedrill" } },
    { params: { name: "pidgey" } },
    { params: { name: "pidgeotto" } },
    { params: { name: "pidgeot" } },
    { params: { name: "rattata" } },
    { params: { name: "raticate" } },
  ];
}) satisfies GetStaticPaths;

const {name} = Astro.params;
const {url} = Astro.props;

const id = url ? parseInt(url.split("/").slice(-2)[0], 10) : 0;
const aukdioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Layout title="Pokémon Static">
  <h1>Pokémon</h1>
  <hr class="my-4" />
  <section aria-label="Pokémon" class="flex flex-col items-center justify-center w-full h-full mt-10">
     <a href="/" class="text-blue-800 font-bold text-2xl mb-4">Regresar</a>
    <PokemonCard name={name} id={id} />
    <audio controls class="mt-4" src={aukdioSrc}>
      <source src={aukdioSrc} type="audio/ogg" />
      <p>Tu navegador no soporta el elemento de audio.</p>
    </audio>
      
  </section>
</Layout>

<style>
  a {
   @apply hover:underline;
  
  }
</style>