---
import { siteInfo } from '@/consts/site-info';
import '../styles/global.css';

interface Props {
	title: string;
	image?: string;
	description?: string;
}
const {title = siteInfo.title, description = siteInfo.description, image,} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Required for SEO -->
		<meta name="description" content={description} />

		<!-- Open Graph / Metatags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />


		<!-- Required -->
		<title>{title}</title>

		<!-- View transitions -->
		 <style>
			@view-transition {
				navigation: auto;
				transition: fade;
				
			}
		 </style>

	</head>
	<body class="bg-neutral-800 text-neutral-100 mx-auto max-w-3xl p-4">
		<slot />
	</body>
</html>


